


.boxs{


justify-content: center;
    background-image: url("https://i.ibb.co.com/RCqsZ4W/bg-shadow.png" );

    background-repeat: no-repeat;
    background-size: cover;


    
}
.n{
    border-radius: 5px;
    height: 50px;
}